@charset "UTF-8";
/* CSS Document */

.media {
	overflow:hidden;
}

.media-img {
	float: none;
	margin: 0 1px 0 0;
}

.media-body {
	overflow:hidden;
}

.media-body h2, p{
	color: white;
}

.media-body-lrg {
	background-color:#3088d0;
	padding:2rem 1rem 1rem;
	width: 470px;
}