@charset "UTF-8";
/* CSS Document */


.prd-info {
	overflow:hidden;
	padding-left:2rem;
}

.prd-img {
	float: none;
	margin: 0 50px 0;
}

.prd-body-info {
	padding:.5rem;
	overflow:hidden;
	width:190px;
	text-align: left;
}

.colours img{
	border-radius:20px;
	margin-left:0;
}

.btn-prd{
	margin: 0 60px 0;
}

.prd-img-info {
	float:right;
}

