@charset "UTF-8";
/* CSS Document */


.prd {
	overflow:hidden;
}

.prd-img {
	float: none;
	margin: 0 60px 0;
}

.prd-body {
	padding:.5rem;
	overflow:hidden;
	width:190px;
}

.colours img{
	border-radius:20px;
	margin-left:0;
}