# Accessibility Testing Report

User testing was conducted by Brittany Hogg on March 31st between the times of 9:00am and 11:00am with the following participants:

- Kayla 
- Emily Prochnau
- Lisa
- Emma
- Julia Paddick
- Brittany Robertson

## Tasks

1. Add Felix Felicis to cart
2. Search for Amertentia
3. Go to About Page, find Phone number

---

## Individual Results & Observations

### Emily

- used reader to navigate
- found about page
- found phone number

### Kayla

- Used reader to navigate
- Went to product page
- found item
- added to cart

### Lisa

- Used tabbing to navigate
- went to about page
- found phone number

### Emma

- Used tabbing to navigate
- searched for item
- found item page

### Brittany Robertson

- Used voice reader
- searched item
- found item

### Julia

- tabbed through to add product
- went to product page
- found item
- added to cart

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- N/A

### Serious, Causes Frustration, May Hinder Completion

- N/A

### Minor, Annoying, Won’t Hinder Completion

- N/A