---
layout: default
title: Home
meta: Magic for sale
showbanner: yes
bannertext: Magic Dust
---


<div class="grid">
	<div class="unit unit-m-1-2 unit-l-1-3">
		<main role="main"><p>We believe in magic! <strong>Magic Dust</strong> is happy to provide you with the best magic. We have a wide range of potions, dusts and other magical concoctions! </p>
	</div>
	<div class="unit unit-s-1 unit-m-1-2 unit-l-2-3">
		<img class="img-flex" src="{{site.baseurl}}/assets/godmother.jpg" alt="fairy godmother"></main>
	</div>
</div>

 
<div class="grid promo-lrg">
	<div class="unit-promo gutter unit-s-1 unit-m-1-2 unit-l-1-2"> <a href="{{base.url}}/magic/index.html">
		{% include promo-large.html image="bunny.jpg" title="Easter Bunny Special" desc="Get as many eggs in your basket as you can! Choose any 3 potions and 2 dusts from our Spring collection all for $350.00! Promo expires on April 20th, 2014." %}
	</a></div>
</div>


<div class="grid promo">

	<div class="unit-promo gutter unit-s-1 unit-m-1-3 unit-l-1-3"> <a href="/magic/index.html">
		{% include promo-small.html image="love.jpg" title="Perfect Match Combo" desc="Buy 2 of our love potions and receive 2 complimentary samples of our newest potion, not yet available for purchasing, <strong>Perfect Match</strong>!" %}
	</a></div>

	<div class="unit-promo gutter unit-s-1 unit-m-1-3 unit-l-1-3">
		{% include promo-small.html image="glitter.jpg" title="New Shopper?" desc="We would like to welcome you to the Magic Dust family for 15% off your first purchase! Just sign up for an account and the promotion will automatically be applied to your first purchase." %}
	</div>

	<div class="unit-promo gutter unit-s-1 unit-m-1-3 unit-l-1-3">
		{% include promo-small.html image="box.jpg" title="Shipping" desc="You will receive free shipping on all purchases over $100.00 across North America." %}
	</div>

</div>


