---
layout: default
title: Searching for?
meta: We appreciate your business
---

<h1 class="yotta">{{page.title}}</h1>

<div class="grid">
	<div class="unit gutter unit-s-1 unit-m-1 unit-l-1-2">
		<p> Is this what you were looking for? </p>
	</div>
</div>

<div class="grid">
	<div class="unit unit-s-1">
		<div class"gutter">
			<h4><a href="{{site.baseurl}}/magic/index.html" class="{% if page.url == '/about.html' %}current{% endif %}" class="micro">Products</a></h4>
		</div>
	</div>
	
	<div class="unit unit-s-1">
		<div class"gutter">
			<h4><a href="{{site.baseurl}}/magic/amortentia.html" class="{% if page.url == '/about.html' %}current{% endif %}" class="micro">Amrtentia</a></h4>
		</div>
	</div>
</div>

<div class="grid">
	<div class="unit gutter unit-s-1 unit-m-1 unit-l-1-2">
		<p>Not what you were trying to find? Sorry for the inconvenience.</p>
	</div>
</div>