# User Testing Report

User testing was conducted by Brittany Hogg on March 24th, 2014 between the times of 9am and 11am with the following participants:

- Emily Prochnau
- Kayla Araujo
- Zhongze Jiang

## Tasks

1. Search for the product "Amrtentia" 
2. Add 2 amounts of any product to cart
3. Add Memor to cart then checkout


---

## Individual Results & Observations

### Emily Prochnau

- She entered product name in search field
- Found product on search results page
- Added to cart
- checked out

### Kayla Araujo

- Clicked on product page
- found a product
- filled in amount in field
- added to cart
- checked out

### Zhongze Jiang

- Went to Product page
- Chose a product
- Added to cart
- Checked out

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- No one had difficulties  N/A

### Serious, Causes Frustration, May Hinder Completion

- N/A

### Minor, Annoying, Won’t Hinder Completion

- N/A