@charset "UTF-8";
/* CSS Document */

header{
	top:0;
	padding:0;
	margin:0;
}

nav {
	background-color: #000;
	color:#fff;
	margin:0;
	padding:1rem;
	top:0;
}

nav li {
	text-align: center;
	color:#fff;
	margin: 0 0 1.5rem;
}

nav a, 
nav a:link {
	color: #ffffff;
}


.unit-nav{
	background-color:#000;
}

.logo img {
	width:60px;
	margin-left:1rem;
}

.current {
	color:#0f50ae;
	text-decoration: none;
	border-bottom: .15rem solid rgba(rgb15, 80, 174,1);
}