@charset "UTF-8";
/* CSS Document */


.nav {
	background-color: #000;
	color:#fff;
	margin:0;
}

.nav li {
	text-align: center;
}
 
.nav a {
	color: #fff;
}

.unit{
	background-color:#000;
}

.logo img {
	width:60px;
	padding: 1rem 50% 2rem;
}

.current {
	color:#fff;
	background-color:##0f50ae;
}