---
layout: default
title: Products
meta: Product Details
bannertext: 
showbanner: yes
---

<h2>Potions</h2>
<ul>
{% for magic in site.pages %}
	{% if magic.category == 'potion' %}
		<li>
			<a href="{{site.baseurl}}{{magic.url}}">
			<img src="{{site.baseurl}}/images/{{magic.img}}" alt="">
			{{magic.name}}
		</a>
		</li>
	{% endif %}
{% endfor %}
</ul>

<h2>Dusts</h2>
<ul>
{% for magic in site.pages %}
	{% if magic.category == 'dust' %}
		<li>
			<a href="{{site.baseurl}}{{magic.url}}">
			<img src="{{site.baseurl}}/images/{{magic.img}}" alt="">
			{{magic.name}}
		</a>
		</li>
	{% endif %}
{% endfor %}
</ul>