<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title class="masthead" role="banner">{{page.title}}</title>
<link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Lily+Script+One' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Oxygen:400,700,300' rel='stylesheet' type='text/css'>
<meta name="decription" content="{{page.meta}}">
<meta name="handheldfriendly" content="true">
<meta name="mobileoptimized" content="240">
<meta name="vieport" content="width=device-width,intial-scale=1">
</head>

<header>
<nav>
<div class="logo">
		<img src="{{site.baseurl}}/assets/magiclogo.svg" alt="">
</div>

<div class="grid" role="navigation">
<div class="unit-black unit-s-1 unit-m-1 unit-l-2-3">
	<ul class="list-group unit-s-1 unit-m-2-3 unit-l-2-3">
		<li class="list-group-item list-group-item-inline"><a href="{{site.baseurl}}/index.html" class="{% if page.url == '/index.html' %}current{% endif %}" class="micro">Home</a></li>
		<li class="list-group-item list-group-item-inline"><a href="{{site.baseurl}}/about.html" class="{% if page.url == '/about.html' %}current{% endif %}" class="micro">About Us</a></li>
		<li class="list-group-item list-group-item-inline"><a href="{{site.baseurl}}/magic/index.html" class="{% if page.url == '/magic/index.html' %}current{% endif %}" class="micro">Products</a></li>
		<li class="list-group-item list-group-item-inline"><a href="{{site.baseurl}}/cart.html" class="{% if page.url == '/cart.html' %}current{% endif %}" class="micro">Cart</a></li>
	</ul>
</div>

<div id='search-box unit-black unit-s-1 unit-m-1 unit-l-1-3'>
  <form role="search" action='{{site.baseurl}}/search.html' id='search-form' method='get' target='_top'>
    <input id='search-text' name='q' placeholder='Searching for...' type='text'/>
    <a class="btn" href="{{site.baseurl}}/search.html">Search</a></span></button>
  </form>
</div>
</div>
</nav>

</header>

{% if page.showbanner %}
<div class="banner">
	<h1 class="yotta">{{page.bannertext}}</h1>
</div>
{% endif %}

<body>
<content>
{{content}}
</content>
</body>


<footer role="contentinfo">

	<div class="media list-group">
		<ul>
			<li class="list-group-item list-group-item-inline"><img src="{{site.baseurl}}/assets/logo.svg"></li>
			<li class="list-group-item list-group-item-inline"><img src="{{site.baseurl}}/assets/logo.svg"></li>
			<li class="list-group-item list-group-item-inline"><img src="{{site.baseurl}}/assets/logo.svg"></li>
		</ul>
	</div>


	<p class="micro copyright">copyright 2014</p>

</footer>

</html>
