<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Ecommerce Website</title>
<link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
</head>

<body>


<header>
	<h1> </h1>
	<nav>
		<ul>
			<li><a href="{{site.baseurl}}/index.html" class="{% if page.url == '/index.html' %}current{% endif %}">Home</a></li>
			<li><a href="{{site.baseurl}}/about.html" class="{% if page.url == '/index.html' %}current{% endif %}>About</a></li>
		</ul>
	</nav>	
</header>
{{content}}

	
</body>
</html>
